@import url('https://fonts.googleapis.com /css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    font-family: 'Open sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

:root {
    --bg-body: #0252b9;
    --color-primary: #131119;
    --text-color: #f4f3f3;
    --text-form: #92929d;


}

html,
body {
    background-color: #ffffff;
}

header {
    background-color: var(--color-primary);
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
}





nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    font-size: 24px;
    font-weight: 700;
}

nav a {
    font-size: 12px;
    font-weight: 400;
}

.link-container {
    display: flex;
    align-items: center;
}

.link-container img {
    margin-right: 10px;
}


.card-movies img {
    width: 100%;
    border-radius: 0px 0px 0 0;

}

.card-movies-description {
    height: 220px;
    padding: 10px 0 20px 0;
    background-color: var(--color-primary);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 8px 8px;
}



.movies-form-btn {
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.movies-btn {
    width: 150px;
    height: 50px;
    background-color: var(--bg-body);
    color: var(--text-color);
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 0;

}

.card-movies {
    width: 50%;
}

.card-score-description {
    background-color: var(--color-primary);
    color: var(--text-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 8px 8px;
}

